.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  cursor: pointer;
  &:hover {
    background-color: white;
    .title {
      color: #89c441;
    }
  }
}
.text {
  &:hover {
    text-decoration: none;
  }
}

.primaryColor {
  background-color: var(--primary-color);
}
.loginButton {
  width: 160px !important;
  .title {
    font-weight: 400;
  }
}
.title {
  color: var(--text-color);
  font-weight: 700;
}
.isTicketButton {
  width: 200px;
  height: 45px;
}
.isMemberRegister {
  width: 150px;
  height: 32px;
  border-radius: 10px;
  .title {
    font-size: 15px;
    color: #89c441;
  }
  .wrapper {
    background-color: white;
  }
  &:hover {
    background-color: black;
    .title {
      color: var(--text-color);
    }
  }
}
