.action-link {
  color: #ffffff;
  font-weight: 300;
  text-decoration: none;
  display: inline;
}
.action-icon {
  width: 45px;
  cursor: pointer;
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}
